[submodule "Redirection"]
	path = Redirection
	url = D:\\Development\\Usagi\\Redirection
[submodule "Tests"]
	path = Tests
	url = D:\\Development\\Usagi\\Tests
[submodule "Reflection"]
	path = Reflection
	url = D:\\Development\\Usagi\\Reflection
[submodule "Preprocessor"]
	path = Preprocessor
	url = D:\\Development\\Usagi\\Preprocessor
[submodule "Meta"]
	path = Meta
	url = D:\\Development\\Usagi\\Meta
[submodule "PropertySheet"]
	path = PropertySheet
	url = E:\\Projects\\Usagi\\PropertySheet
